numpy==1.26
networkx
opencv-python
pillow
cmake
xformers==0.0.16rc425
git+https://github.com/hbb1/diff-surfel-rasterization.git
imageio
matplotlib
einops
omegaconf
jaxtyping
huggingface_hub
e3nn
dacite
fastapi
scikit-learn
pytorch_lightning==1.8.6
composer==0.14.0
scikit-image
lpips
colorspacious
scikit-video
tensorboard
ema_pytorch
git+https://github.com/facebookresearch/pytorch3d.git@stable